:root {
  /* Colors */
  --bg-header: #282828;
  --bg-body: #f5f5f5;
  --clr-logo: #f5f5f5;

  /* Font Style / Size */
  --font-body: "Montserrat", sans-serif;

  --fs-sm: 18px; /*Logo Text*/
  --fs-lg: 40px; /*H1 Text*/

  --fw-400: 400;
  --fw-700: 700;

  /* Extra */
  --padding-ul: 25px;

  --icon-size: 25px;
}

/* CSS RESETS */
/* -------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Utility Classes */
/* -------------------------------------------------------------- */
.container {
  max-width: 855px;
}

.flex {
  display: flex;
}

.ai-c {
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-content: center;
}

/* Header */
/* -------------------------------------------------------------- */
header {
  background-color: var(--bg-header);

  ul {
    margin: 0;
    gap: 10px;
    padding: var(--padding-ul);

    li {
      cursor: pointer;
    }
  }

  .logo {
    color: var(--clr-logo);
    font-size: var(--fs-sm);
    font-weight: var(--fw-700);
  }

  .icon {
    width: var(--icon-size);
  }
}

/* Sections */
/* -------------------------------------------------------------- */

main {
  .hero {
    h1 {
      margin: 30px 25px;
      font-size: var(--fs-lg);
      font-weight: var(--fw-400);
    }
  }

  .item {
    .item-img {
      width: 800px;
    }

    .caption {
      margin: 0 25px;

      /* p {
      } */
    }
  }
}
